html {
  scroll-behavior: smooth;
}

.small-spacer {
  margin-bottom: 50px;
}

.spacer {
  margin-bottom: 100px;
}

.center-txt {
  text-align: center;
}

.hero-title {
  color: #464141 !important;
}

.hide-element {
  display: none;
}

.not-msg {
  position: fixed;
  bottom: 0;
  height: auto;
  z-index: 9;
  background: white;
  width: 100%;
}

.not-msg p {
  margin-top: 10px;
}

.not-msg button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-copy {
  color: #464141 !important;
}

.hero-img {
  height: 720px !important;
  width: auto !important;
  display: inline-block !important;
}


.feature-img {
  height: 580px !important;
  width: auto !important;
  display: inline-block !important;
}

.feature-list li {
  cursor: pointer;
}

.tabs.is-boxed li.is-active a {
  border-color: transparent !important;
  border-bottom-color: transparent !important;
}

.tabs a {
  border-bottom-color: transparent;
  padding: 0.2em 0;
}

.tabs span {
  width: 100%;
}

.tabs ul {
  border-bottom-color: #464141;
}

.panel:not(:last-child) {
  margin-bottom: 0;
}

.shadow {
  -webkit-box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18);
}

.quiz-video {
  height: 720px;
  width: auto;
}

/*OVERRIDES*/

.title-color {
  color: #444f60 !important;
}

.navbar-wrapper .navbar-brand img {
  height: 50px !important;
}

.navbar-item img {
  max-height: 3em !important;
}

.button.secondary-btn.btn-outlined {
  border-color: #464141 !important;
  color: #464141 !important;
  background-color: transparent;
}

.button.secondary-btn.btn-outlined:hover {
  border-color: #464141 !important;
  color: white !important;
  background-color: #464141 !important;
}

.learnion-green-bg {
  background-color: #464141;
  color: white;
  border: transparent;
}

.white-bg {
  background-color: white;
}

.learnion-brown-font {
  color: #464141;
}

.learnion-yellow-font {
  color: #464141;
}

.button:hover {
  color: #464141 !important;
}

.tabs li.is-active a {
  border-bottom-color: #464141;
  color: #464141;
  font-weight: bolder;
  font-size: 1.1em;
}

.section .icon-subtitle i {
  font-size: 2.4rem;
  color: #464141 !important;
}

.learnion-cta:hover {
  background-color: #464141 !important;
}

.timeline .timeline-item .timeline-icon {
  background: #464141 !important;
  color: white;
}

.title-divider {
  background: #464141 !important;
}

.accent-background {
  background: #96CEB4 !important;
}

.button.primary-btn {
  border-color: #464141 !important;
  background-color: #464141 !important;
}

#backtotop a {
  background-color: #FFCC5C !important;
}

.img-showcase {
  height: 720px;
  width: auto;
}

@media only screen and (max-width: 767px) {
  form button[type="submit"] {
    width: 40% !important;
  }
}

.btn-hero {
  padding-right: 8em;
  padding-left: 8em;
}

#btn-text {
  color: #FFCC5C;
  font-size: 0.8em;
  font-weight: 700;
}

#btn-text:hover {
  color: #FFCC5C;
}

.line1 {
  z-index: 15;
  opacity: 0.5;
}

.line2 {
  z-index: 10;
  opacity: 0.7;
}

.line3 {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave1 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
}

.wave2 {
  -webkit-background-size: 50% 100px;
  background-size: 50% 100px;
  animation: animate 12s linear infinite;
}

.wave3 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
  animation: animate 18s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.wave-container {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.hero-btn {
  background-color: white;
}

#signup-btn-white {
  background-color: white !important;
}

@media only screen and (min-width: 1090px) {
  .navbar.navbar-wrapper.is-static .navbar-item {
    color: 444f60;
  }
}

@media only screen and (max-width: 1089px) {
  .navbar.navbar-wrapper.is-static .navbar-item {
    color: #444f60;
  }
}
